<div class="chat-container">
  <section *ngFor="let conversation of chatHistory">
    <div class="container">
      <div class="message">
        {{conversation.User}}
      </div>
    </div>
    <br />
    <div class="answer-container" *ngIf="conversation.Bot">
      <div class="answer-message">
        {{conversation.Bot}}
      </div>
    </div>
  </section>
</div>

<div horizontal class="questionInputContainer">
  <input type="text" [(ngModel)]="query" class="questionInputTextArea" placeholder="Ask a question" (keyup.enter)="getQueryResponse()" />
  <div class="questionInputButtonsContainer">
    <button class="questionInputSendButton" [disabled]='!query' (click)="getQueryResponse()">Send</button>
  </div>
</div>